{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="text-center py-5">

    <img src="{% static 'main/images/JRImage.jpg' %}"
         alt="Profile Picture"
         class="rounded-circle mb-4"
         width="200">


    <h1 class="display-3 fw-bold">
        John Rence Gervacio Ibarrientos
    </h1>

    <h3 class="text-secondary">
        Beginner Developer
    </h3>

    <p class="lead mt-4">
        Welcome to my first Django portfolio website.
    </p>

    <p>
        I am currently learning Python, Django, Git, and Bootstrap.
        This website documents my journey as I build real-world projects.
    </p>

   <a href="/about/" class="btn btn-lg mt-3 text-white"
   style="background-color: #2563eb;">
        Learn More About Me
    </a>

</div>

{% endblock %}